.card-spot{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    gap:1rem;
    text-decoration: none;
    
}
#navlink-text{
    text-decoration: none;
}
.spot-city-state{
    width:12rem;
}

.city-state-rating-div{
    display:flex;
    gap:4rem;
    margin-top:1rem;
    text-decoration: none;
    color:black;
}
.spot-price-night{
    margin-top:1rem;
    display:flex;
    flex-direction: row;
    gap:0.3rem;
    text-decoration: none;
    color:black;
}
.spot-price {
    font-weight: bold;
    text-decoration: none;
    color:none;
}
.land-page-images{
    border: solid whitesmoke 1px;
    border-radius: 0.8rem;
}
.tooltip {
    visibility: hidden;
    width: 240px;
    background-color: rgb(61, 55, 55);
    color: #fff;
    text-align: center;
    /* border-radius: 6px;
    padding: 5px 0; */
}
.img-text:hover .tooltip {
    visibility: visible;
  }
  div.spot-city-state{
    text-decoration: none;
  }
  .img-text{
    object-fit: contain;
  }
