.card-spot{
  display:flex;
  flex-direction: row;  
    
}
 /* #image-text{
    display:flex;
    flex-direction: row;
    
}
div.spot-div{
    display:flex;
    flex-direction: row;
} 
.current-user-spot-button{
    margin:1rem;
   

}
.navlink-image{
    display:flex;
    flex-direction: row;
} */

.update-button{
    margin:1rem;
    background-color: rgb(93, 89, 89);
    color:white;
    padding:0.5rem;
    
}
button{
    margin:1rem;
    background-color: rgb(93, 89, 89);
    color:white;
    padding:0.5rem;
}
h1#manage-spot-heading{
    width:100%;
    text-align: left;
}
