.spot-images-div{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:1rem;
    
    
}
.preview-image-on-the-left {
    padding:0px;
    margin:0px;
   
    
    
    
}
.image-array-for-right-side{

   display:grid;
   grid-template-columns: 1fr 1fr;
   gap:0.5rem;
   

} 
.h2-spot-description{
    text-align: left;
    width:40rem;
    padding:0px;
    margin:0px;

}
.spot-user-heading{
    margin-left: 0px;
    width:15rem;
    padding:0px;
    margin-bottom: 2rem;
}
h2#spot-name{
    padding-left: 0.5px;
    text-align: left;
}

.text-div{
    display:flex;
    gap:0.5rem;
    margin-top: 1rem;
}
.call-out-box{
    
    border:4px solid black;
    padding:15px;
    width:15rem;
    border-radius: 8px;
    
}
.reserve-button{
    border:1px solid black;
    padding:10px;
    margin-left: 1.5rem;
    
    width:12rem;
    background-color:red;
    color:white;
    align-content: center;
    

}
.spot-night{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    font-weight: bolder;
}
.down-rating-div{
    display:flex;
    flex-direction: row;
    padding-bottom:0.5rem;
    padding-top: 0.5rem;
    gap:2rem;    
}
.review-info-div{
    display:flex;
    padding-bottom: 1rem;
}
.post-review-button{
    display:flex;
    flex-direction: column;
}
.post-review-modal-button{
    display:flex;
    flex-direction: column;
}
.new{
    display:flex;
    flex-direction: row;
    gap:0.5rem;

}
.new > h4{
    
    margin-top: 1px;
}
