.hidden {
   display: none;
}
.profile-button-container{
    display: flex;
    flex-direction: row;
    padding:0px;
    margin:0px;
    

}
.main-menu-container{
    display:flex;
    flex-direction: row; 
    
    padding:0px;
    margin:0px;
    /* margin-top: 1.5rem; */

}
/* .nav-right-div{
    margin:0;
    padding:0;
} */
div.menu-button{
    margin-top: 2rem;
    gap:0px;

}
.nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top:2px solid lightgray; */
    border-bottom:2px solid lightgray;
    height: 70px;
    padding-left:10px ;
    padding-right: 10px;
    margin-top:1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    cursor: pointer;
}

.logo-image{
    width:8rem;
}
.open-menu-button{
    /* display:flex;
    flex-direction: row; */
    gap:2rem;
    width:5rem;
    border-radius: 2rem;
    border:2px solid black;
    padding:0.7rem;
    margin-top: 0.3rem;
   margin-bottom: 2.6rem;

}
.open-menu-button > i {
    padding:0.2rem;
}
.create-spot-button{
    margin-top: 1.7rem;
    padding: 1rem;
    text-decoration: none;
    color:#4682b4;
}
.user-login-logout{
    display:flex;
    
    flex-direction: column;
    /* gap:0.4rem; */
    border:solid black 3px;
    text-align: center;
    padding:1px;
    height:7rem;
}
user-logout-div{
    margin-bottom: 15px;
    
    
    

}
.manage-spot-div{
    border-bottom: solid black 2px;
    margin-bottom: 0.2rem;
}
.manage-spot-link{
    text-decoration: none;
    color:black;
    /* padding-bottom: 1rem; */
    
}
.user-email-div{
    border-bottom: solid black 1.5px;
}
.user-logout-button{
    border:solid black 2px;
    border-radius: 2rem;
    padding-top: 5px;
    margin-top: 1rem;
    background-color: #696969;
    color: white;
}
.login-signup{
    
    border:solid black 1.5px;
    padding:0.5rem;
    list-style:none;


}
