.hidden {
   display: none;
}
.header{
    border:2px solid lightgray;
    width:100%;
    height: 70px;
    padding-left:20px ;
    padding-right: 20px;
    align-items: center;
    cursor: pointer;
}
